{% set max = nbProposal ?? 4 %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        {% set question %}{% trans %}Question{% endtrans %}{% endset %}
        {{ field("question", item.question, question, {maxlength: '255'}) }}
        {%  for i in 1..max %}
            {% set proposal %}{% trans %}Proposal {{ i }}: text or source of the image (external link){% endtrans %}{% endset %}
            {{ field("proposal" ~ i, attribute(item, 'proposal' ~ i), proposal, {maxlength: '100'}) }}             
        {% endfor %}
        <input type="hidden" name="nbProposal" value="{{ max }}">
    </div>
</div>
