<div class="footer bg-primary">
    <div class="container">

        <a class="text-white" href="{{ path('about.terms') }}">{% trans "Terms of Service" %}</a>
        <a class="ml-2 text-white" href="{{ path('about.privacy') }}">{% trans "Privacy" %}</a>
        <a class="ml-2 text-white" href="{{ path('about.security') }}">{% trans "Security" %}</a>
        <a class="ml-2 text-white" href="{{ path('contact') }}">{% trans "Contact" %}</a>
        <a class="ml-2 text-white" href="{{ path('support', {loc:'fr'}) }}">{% trans "Help" %}</a>

        <p class="float-right text-white">{% trans %}© 2019 Ethical Games. Licence AGPLv3{% endtrans %}</p>

    </div>
</div>