{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}
    
    {% include '@comments/comments.twig' %}

{% endblock %}
