{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Create a bug report
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Create a bug report{% endtrans %}</h1>

    <form action= "{{ path('bugs' ~ '.create', {projectId: item.projectId}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {{ field("projectId", item.projectId, null, {type:'hidden'}) }}
        {% include "@bug/form.twig" %}
        <small><span class="text-danger">*</span> {% trans %}Mandatory field{% endtrans %}</small><br>
        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
        {% if current_user().id == item.userProject or current_user().role == "admin" %}
            <a class="btn btn-primary ml-3" href="{{ path('bugs', {id:item.projectId}) }}">{% trans "Back" %}</a>
        {% else %}
            <a class="btn btn-primary ml-3" href="{{ path('bugs.list', {slug:item.projectSlug, id:item.projectId}) }}">{% trans "Back" %}</a>
        {% endif %}
    </form>

{% endblock %}

