<li class="nav-item">
	<a class="nav-link {{ is_subpath('blog.user.index') ? 'active'}}" href="{{ path('blog.user.index') }}">{% trans "Games" %}</a>
</li>
<li class="nav-item">
	<a class="nav-link {{ is_subpath('user') ? 'active'}}" href="{{ path('user') }}">{% trans "Dashboard" %}</a>
</li>