<div class="col-sm-4 offset-sm-4">
    <div class="card border-primary">
        <div class="card-body">

            <h4 class="card-title text-center">
                {% trans %}
                    {{ count }} Game
                    {% plural count %}
                    {{ count }} Games
                {% endtrans %}
            </h4>     

            <div class="card-text text-center">
                <a href="{{ path('blog.user.index') }}" class="btn btn-primary">{% trans %}Manage games{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>