<nav class="navbar navbar-expand navbar-light bg-transparent">
    <div class="nav navbar-nav mx-auto nav-tabs">
        <a class="nav-item nav-link ml-3 
           {{ is_subpath('about') and not is_subpath('about.value') and not is_subpath('about.team') and not is_subpath('about.businessModel') and not is_subpath('about.visualIdentity') and not is_subpath('about.charter') ? 'active' }}" 
           href="{{ path('about') }}">{% trans "About" %} <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('about.value') ? 'active' }}" href="{{ path('about.value') }}">{% trans "Our values" %}</a>
        {# <a class="nav-item nav-link ml-3 {{ is_subpath('about.charter') ? 'active' }} disabled" href="{{  path('about.charter') }}">{% trans "Charter" %}</a> #}
        <a class="nav-item nav-link ml-3 {{ is_subpath('about.businessModel') ? 'active' }}" href="{{ path('about.businessModel') }}">{% trans "Business Model" %}</a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('about.team') ? 'active' }}" href="{{ path('about.team') }}">{% trans "Team" %}</a>     
        <a class="nav-item nav-link ml-3 {{ is_subpath('about.visualIdentity') ? 'active' }}" href="{{ path('about.visualIdentity') }}">{% trans "Visual Identity" %}</a>
    </div>
</nav>
