{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">{% trans %}A cooperative for an ethical platform{% endtrans %}</h1>

    <div class="container">

        <h5>{% trans %}Birth of RedBricks{% endtrans %}</h5>

        <p>{% trans %}Our project started in March 2017 in Montreal, Canada. Torn between the libre software and the video games industries, 
            it quickly evolved into the idea of making video games with libre license. However, a new issue swiftly arose: libre 
            software do not lack for business models, but not many can apply to video games creation. Step by step, brick by brick, 
            we imagined RedBricks! In December 2017, our model was ready and development began…{% endtrans %}</p>

        <h5>{% trans %}Founding principles{% endtrans %}</h5>
        <p>{% trans %}Redbricks was first designed as a crowdfunding platform, but we quickly added community management tools so it could adapt to 
            all issues met by independent studios. Nevertheless, we always keep in mind these founding principles, so Redbricks always 
            evolves in the right direction:{% endtrans %}</p>
        <ul>
            <li>{% trans %}<span class="font-weight-bold">Freedom:</span> this is our most cherished value and it can be felt everywhere. 
                First in the technical aspects of RedBricks, as our platform does not use cookies and makes limited use of Java Script. 
                Then, in our business model, as we do not require you to spend anything: commissions are free and anyone can access the 
                platform. Lastly, you can enjoy a great degree of freedom in the way you manage your project, our only rule is that you 
                respect the law and others.{% endtrans %}</li>
            <li>{% trans %}<span class="font-weight-bold">Community-based creation:</span> Everything is designed so the player can get 
                involved in a game’s development from the very beginning. This happens through votes, polls and comments during the design 
                stage, then through (optional) financial support during development and finally through bug report as soon as a first 
                prototype is available!{% endtrans %}</li>
            <li>{% trans %}<span class="font-weight-bold">Inclusiveness:</span> Redbricks was created for everyone, no matter their gender, 
                games style, studio revenue of gaming habits.{% endtrans %}</li>
        </ul>

        <h5>{% trans %}An ethical company{% endtrans %}</h5>
        <p>{% trans %}Our company OtterWays, through which RedBricks was born, share the same values as this platform. Just as Redbricks 
            was designed as an alternative to the traditional video game creation process, we wanted OtterWays to go further than a 
            traditional company in its commitment to its employees:{% endtrans %}</p>
        <ul>
            <li>{% trans %}<span class="font-weight-bold">a fair repartition of the benefits</span> between the employees after strengthening 
                the company’s capital{% endtrans %}</li>
            <li>{% trans %}the establishment of a <span class="font-weight-bold">1 employee = 1 vote</span> principle for every major decision, 
                including managers and directors{% endtrans %}</li>
            <li>{% trans %}<span class="font-weight-bold">a horizontal hierarchy</span> so that everyone can express themselves{% endtrans %}</li>
            <li>{% trans %}<span class="font-weight-bold">respect for everyone</span>, regardless of gender, religion, social origins or political 
                belief. Diversity is an infinite wealth.{% endtrans %}</li>
            <li>{% trans %}support for associations advocating <span class="font-weight-bold">inclusiveness</span>, such as 
                <a href="https://womeningamesfrance.org/" target="_blank">Women In Games France</a>{% endtrans %}</li>
        </ul>

        <p>{% trans %}Otterways aims to become a cooperative and already shares the values associated to this type of company.{% endtrans %}</p>

    </div>

{% endblock %}
