The bug report {{ bug.title }} has been modified for the project : {{ game.name }}.

{{ bug.title }} posted by {{ bug.author }}
(status: {{ bug.statusName }})
{{ bug.description }}

---
The RedBricks Team
