Hello {{ user.username }},
The deadline for the brick {{ feature.name }} ({{ game.name }}) is exceeded.
Unfortunately, the brick was not fully funded. Now, you have two choice :
- If you think that you can develop the brick without the fully funded, you can take the money and develop the feature.
- Otherwise, you can abandonned the brick and all the brick's contributors will be refunded.

You have 7 days to make a decision. After, the brick will be abandonned and the contributors will be refunded.

---
The RedBricks Team