{% extends current_user().role == "admin" ? "@admin/layout.twig" : "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit a news - RedBricks
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Edit a news{% endtrans %}</h1>

    <form action= "{{ path('news' ~ '.edit', {projectId: item.projectId, id: item.id}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {{ field("projectId", item.projectId, null, {type:'hidden'}) }}
        {% include "@news/form.twig" %}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">{% trans "Edit" %}</button>
            <a class="btn btn-primary ml-3" href="{{ path('news', {id:item.projectId}) }}">{% trans "Back" %}</a>
        </div>
    </form>

{% endblock %}
