{% extends 'layout.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('news.list', {slug: news.gameSlug, id: news.projectId}) }}">{{ game.name }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ news.title }}</li>
                    </ol>
                </nav>
            </small>

            {% if (news.userId == current_user().id or current_user().role== "admin") %}
                <div class="text-center my-2">
                    <a href="{{ path('news' ~ '.edit', {projectId: news.projectId, id: news.id}) }}" class="btn btn-primary">
                        {% trans "Edit" %}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="col-md-9 d-flex justify-content-center my-2">
            <div class="card col-12 shadow" >

                <div class="card-header">
                    <div class="carte-title mb-2">
                        <h1 class="text-center">{{ news.title }}</h1>
                        <a class="text-info" href="{{ path('profile', {id: news.userId}) }}">{{ news.author }}</a>
                        <small class="text-muted"> - {{ news.createdAt | date("j F Y H:i") }}</small>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">  
                        {{ news.content | raw | nl2br }}
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include "@comments" ~ "/comments.twig" %}
        </div>
    </div>

{% endblock %}
