{% extends "layout.twig" %}

{% block title %}
    {% trans "Collect" %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-4 offset-2">
            {% trans "Amount" %}
        </div>
        <div class="col-4">
            {% trans "Date" %}
        </div>
    </div>

    {% for purchase in purchases %}
        <div class="row">
            <div class="col-4 offset-2">
                {{ purchase.price }}
            </div>
            <div class="col-4">
                {{ purchase.createdAt | date("j M y - H:i:s") }}
            </div>
        </div>
    {% endfor %}

    <div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center my-auto"><i class="fa fa-spinner fa-spin fa-lg mr-2"></i> {% trans %}Payment in progress...{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>

    {% if result %}
        <form action="{{ path('shop.collect', {id:feature.id}) }}" method="POST">
            {{ csrf_input() }}
            <input type="hidden" name="estimatedDate" id="estimatedDate" value="{{ estimatedDate }}">
            <input type="submit" class="d-none" id="send">
        </form>
    {% else %}
        <form action="{{ path('blog.user.features.feature' ~ '.edit', {projectId: game.id, id: feature.id}) }}" method="POST" enctype="multipart/form-data">
            {{ csrf_input() }}
            <input type="hidden" name="status_id" value="4">
            <input type="hidden" name="name" value="{{ feature.name }}">
            <input type="hidden" name="content" value="{{ feature.content }}">
            <input type="hidden" name="estimatedDate" value="{{ estimatedDate }}">
            <input type="file" name="image" class="d-none">
            <input type="submit" class="d-none" id="send">
        </form>
    {% endif %}

    <script>

        $(document).ready(function () {
            //alert();
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
            //alert();
            document.getElementById("send").form.submit();
        });

    </script>

{% endblock %}
