{% extends "layout.twig" %}

{% block title %}
    {% trans %}Centre d'aide{% endtrans %}
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center mb-5">
            {% trans %}Aide en ligne{% endtrans %}
        </h1>
        <div class="row">
            {% for section in sections %}
                <div class="col-md-6 mb-5">
                    <a href="{{ path('support.section', {loc:'fr', id:section.id, slug:section.slugFr}) }}" class="btn btn-outline-primary d-block text-center">
                        {{ section.nameFr }}
                    </a>
                    {% for article in articles if article.sectionId == section.id %}
                        <div class="my-2">
                            <a class="text-info" href="{{ path('support.article', {loc:'fr', id:article.id, slug:article.slugFr}) }}">
                                {{ article.nameFr }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}