{% extends 'layout.twig' %}

{% block body %}

    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-sm-2 d-none d-sm-block m-auto">
                {% if user.avatar %}
                    <img class="p-md-1 p-lg-2 p-xl-3 rounded-circle" src="{{ user.avatarThumb }}" alt="" style="width:100%;">
                {% else %}
                    <img class="p-md-1 p-lg-2 p-xl-3 rounded-circle" src="/images/unknow.png" alt="" style="width: 100%;">
                {% endif %}
            </div>
            <div class="col-sm-10">
                <h2>{{ user.displayname }}</h2>
                {{ user.location }}
                {% if user.location and user.createdAt %}
                    --
                {% endif %}
                {% set createdAt = user.createdAt|date("j F Y") %}
                {% trans %}joined {{ createdAt }}{% endtrans %}
                <br/>
                <a class="btn btn-outline-primary my-2" href="{{ path('discussion.compose', {to: user.id}) }}">{% trans "Contact" %}</a>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#created_project" role="tab" data-toggle="tab">{% trans %}Created projects{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#supported_project" role="tab" data-toggle="tab">{% trans %}Supported projects{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#badges" role="tab" data-toggle="tab">{% trans "Badges" %}</a>
            </li>
        </ul>
        <div class="tab-content row">

            <div role="tabpanel" class="tab-pane fade in active show" id="profile">
                {{ user.profile }}
            </div>
            <div role="tabpanel" class="tab-pane fade col-12" id="created_project">
                <div class="row">
                    {% for game in games %}
                        <div class="card-deck col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            {% include "@blog" ~ "/panel.twig" %}
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade col-12" id="supported_project">
                <div class="row">
                    {% for game in supportedGames %}
                        <div class="card-deck col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                            {% include "@blog" ~ "/panel.twig" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade col-12" id="badges">
                <div class="row">
                    {% for badge in badges %}
                        {% include '@badge' ~ '/badge.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}