{% extends 'layout.twig' %}


{% block body %}

    <p>
        {% trans %}Please, enter your email address. An email will be sent to that address shortly, with instructions for resetting your password.{% endtrans %}
    </p>

    <form action="" method="post">
        {{ csrf_input() }}
        {% set email %}{% trans %}Email{% endtrans %}{% endset %}
        {{ field('email', null, email, {type: 'email'}) }}
        <button class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>
    </form>

{% endblock %}
