<div class="col-sm-4">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ count }}</h4>
            <p class="card-text">Game{% if count > 1 %}s{% endif %}</p>
            <a href="{{ path('blog.admin.index') }}" class="btn btn-primary">Manage games</a>
        </div>
    </div>
</div>