{% extends "@admin/layout.twig" %}

{% block title "Edit games" %}

    {% block body %}

        <p class= "text-right">
            <a href="{{ path(routePrefix ~ '.create')}}" class="btn btn-primary">
                Add a game
            </a>
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Author</td>
                    <td>Actions</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% set token_input = csrf_input() %}	
                {% for item in items %}
                    <tr>
                        <td class="{% if item.published==0 %}text-danger font-italic{% endif %}">
                            {{ item.name }}
                        </td>
                        <td>{{ item.author }}</td>
                        <td>
                            <a href="{{ path(routePrefix ~ '.edit', {id: item.id}) }}" class="btn btn-primary">Edit</a>
                            {{ token_input | raw  }}
                        </td>
                        <td>			
                            <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ item.id }}]">Delete</button >
                            <div class="modal fade" id="confirmation[{{ item.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" >Delete {{item.name}} ?</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form style="display: inline;" action="{{ path(routePrefix ~ '.delete', {id: item.id}) }}" method="POST" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger">Delete</button>
                                                {{ token_input | raw  }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% if item.published==1 %}
                            <td>
                                <a href="{{ path(routePrefix ~ '.features', {id: item.id}) }}" class="btn btn-primary">Features</a>
                                {{ token_input | raw  }}
                            </td>
                            <td>
                                <a href="{{ path('bugs', {id: item.id}) }}" class="btn btn-primary">Bugs</a>
                                {{ token_input | raw  }}
                            </td>
                            <td>
                                <a href="{{ path('news', {id: item.id}) }}" class="btn btn-primary">News</a>
                                {{ token_input | raw  }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ paginate(items, routePrefix ~ ".index") }}

    {% endblock %}

