{% extends "layout.twig" %}

{% block title feature.name %}

    {% block body %}

        <div class="row">
            <div class="col-md-3">
                <small>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                            <li class="breadcrumb-item"><a href="{{ path('blog.show.bricks', {slug: game.slug, id: game.id}) }}">{{ game.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ feature.name }}</li>
                        </ol>
                    </nav>
                </small>
                {% set goalEuros= feature.goal %}
                <h2 class="text-center">{% trans "Progress" %}</h2>
                {% set createdAt = feature.createdAt | date("j F Y") %}
                <p class="text-muted">{% trans %}Since {{ createdAt }}{% endtrans %} - 
                    {% for tag in tags %}
                        <span class="badge {{"color-tag" ~ tag.color}}">
                            {{ tag.name }}
                        </span>
                    {% endfor %}
                    {% for s in status %}
                        {% if feature.statusId == s.id %}
                            {% set color = 'color' ~ s.id %} 
                            <span class="badge {{color}}" >
                                {{ s.name }}
                            </span>
                        {% endif %}
                    {% endfor %}</p>

                <div class="card my-2 border-primary {% if feature.statusId != 2 %}bg-light{% endif %}">
                    <div class="card-header {% if feature.statusId != 2 %}bg-light{% endif %}">
                        <h3 class="text-center">{% trans "Votes" %}</h3>
                        {% if feature.statusId == '2' and voteExist == false %}
                            <form  action="{{ path('blog.vote', {slug: feature.slug, id: feature.id})}}"  method="post" id='formVote' >
                                {{ csrf_input() }}
                                <input type="hidden" name="userId" value="{{userId}}">
                                <input type="hidden" name="featureId" value="{{feature.id}}">
                                <input type="hidden" name="featureSlug" value="{{feature.slug}}">
                            </form>
                        {% elseif feature.statusId == '2' %}
                            <div class="text-muted text-center">
                                {% trans %}(You're already vote){% endtrans %}
                            </div>
                        {% else %}
                            <div class="text-muted text-center">
                                {% trans %}(Closed votes){% endtrans %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body text-center">      
                        {% if feature.statusId >=3 or voteExist == true %}
                            <button type="submit" class="btn btn-outline-success mx-2" disabled>
                                {{ votesYes|number_format }} 
                                <i class="far fa-thumbs-up"></i>
                            </button>
                            <button type="submit" class="btn btn-outline-danger mx-2" disabled>
                                {{ votesNo|number_format|number_format }} 
                                <i class="far fa-thumbs-down"></i>
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-success mx-2" name="voteYes" value='true' form='formVote'>
                                {{ votesYes|number_format }} 
                                <i class="far fa-thumbs-up"></i>
                            </button>
                            <button type="submit" class="btn btn-outline-danger mx-2" name="voteNo" value='false' form='formVote'>
                                {{ votesNo|number_format|number_format }} 
                                <i class="far fa-thumbs-down"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>

                {% if feature.statusId >= 3 and goalEuros > 0 %}
                    <div class="card border-primary my-2 {% if feature.statusId != 3 %}bg-light{% endif %}" >
                        <div class='card-header {% if feature.statusId != 3 %}bg-light{% endif %}'>
                            <h3 class='text-center'>{% trans %}Financing{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            {% set goalEuros = goalEuros | default(0) %}
                            {% trans %}Goal: {{ goalEuros }} €{% endtrans %}
                            {% if feature.statusId == 3 %}
                                {% set deadline = feature.deadline | date("j F Y") %}
                                <p class="text-muted">{% trans %}Before {{ deadline }}{% endtrans %}</p>
                            {% endif %}

                            {% if feature.goal > 0 %}
                                {% set moneyRaised = moneyRaised | number_format(2) + moneyFunded | number_format(2) %}
                                {% set nbParticipants = nbParticipants + nbParticipantsFunded %}
                                <div class="progress my-2">
                                    {% set varProgress= moneyRaised*100/goalEuros %}
                                    {% if feature.statusId != 3 %}
                                        {% set varProgress = moneyFunded*100/goalEuros %}
                                    {% endif %}
                                    <div class="progress-bar bg-warning text-dark" role="progressbar" style="width: {{ varProgress|round }}%;" aria-valuenow="{{ varProgress|round }};" aria-valuemin="0" aria-valuemax="100">{{ varProgress|round }}%</div>
                                </div>
                                {#{% set moneyRaised = moneyRaised | number_format(2) %}
                                {% if feature.statusId != 3 %}
                                    {% set moneyRaised = moneyFunded | number_format(2) %}
                                    {% set nbParticipants = nbParticipantsFunded %}
                                {% endif %}#}
                                {% trans %}{{ moneyRaised }} € pledged{% endtrans %} <br>
                                {% trans %}
                                    {{ nbParticipants }} contributor
                                    {% plural nbParticipants %}
                                    {{ nbParticipants }} contributors
                                {% endtrans %}
                                {% if feature.statusId == 3 and current_user().id != game.userId  and stripeUserId and moneyRaised < goalEuros and feature.deadline > date() %}
                                    <div  class="text-center">
                                        <a href="{{ path('shop', {gameId: feature.projectId, featureId: feature.id}) }}" class="btn btn-primary">
                                            {% trans "Contribute" %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>                  
                    </div>
                {% endif %}
                {% if feature.statusId >= 4 and feature.statusId != 6 %}
                    <div class="card border-primary my-2 {% if feature.statusId != 4 %}bg-light{% endif %}" >
                        <div class="card-header {% if feature.statusId != 4 %}bg-light{% endif %}">
                            <h3 class="text-center">{% trans "Development" %}</h3>
                        </div>
                        <div class="card-body">
                            {% trans %}Estimated release date:{% endtrans %} 
                            {% if feature.estimatedDate is not null %}
                                {{ feature.estimatedDate|date("j F Y") }}
                            {% else %}
                                {% trans %}not defined{% endtrans %}
                            {% endif %}

                            {% if feature.statusId == 5 %}
                                <hr class="border-gray">
                                {% trans %}Release date:{% endtrans %} 
                                {% if feature.deliveryDate is not null %}
                                    {{ feature.deliveryDate|date("j F Y") }}
                                {% else %}
                                    {% trans %}not defined{% endtrans %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if feature.userId == current_user().id or game.userId == current_user().id or current_user().role == "admin"%}
                    <div class="text-center my-2">
                        <a href="{{ path('blog.user.features.feature' ~ '.edit', {projectId: feature.projectId, id: feature.id}) }}" class="btn btn-primary">
                            {% trans "Edit" %}
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-9 d-flex justify-content-center my-2" >
                <div class="card col-12  shadow" >
                    {% if feature.statusId == 6 %}
                        <div class="alert alert-danger mt-3">
                            {% set abandonReason = feature.abandonReason %}
                            {% trans %}This brick has been abandonned to the following reason: {{ abandonReason }}{% endtrans %}
                        </div>
                    {% endif %}

                    {% include "@blog" ~ "/showFeature.twig" with { 'one': 'oneFeature'} %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include "@comments" ~ "/comments.twig" %}
            </div>
        </div>

    {% endblock %}