{% extends "layout.twig" %}

{% block title game.name %}

    {% block body %}

        {% set nbTotFeatures= 0 %}
        {% for s in status %}
            {% if s.id > 1 %}
                {% set nbTotFeatures= nbTotFeatures +  nbFeatures[s.id] %}
            {% endif %}
        {% endfor %}

        <!--menu-->
        {% include '@blog/layoutGame.twig' %}

        <!--content-->
        <div class="row">
            <!--sidebar-->
            <div class="col-md-3" >
                <small>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                        </ol>
                    </nav>
                </small>

                <div class="card mt-2 border-primary">
                    <div class="card-header text-center">
                        {% trans "Informations" %}
                    </div>
                    <div class="list-group-item">
                        <i class="fas fa-file-code" title="{% trans %}source code{% endtrans %}"></i> {{ game.licenceName }}
                    </div>
                    <div class="list-group-item">
                        <i class="fas fa-images" title="{% trans %}graphics licence{% endtrans %}"></i> {{ game.graphicsLicenceName }}
                    </div>
                    <div class="list-group-item">
                        <i class="fas fa-music" title="{% trans %}music licence{% endtrans %}"></i> {{ game.musicLicenceName }}
                    </div>
                    <div class="list-group-item">
                        {% for p in liens %} 
                            <i class="{{ p.platformFa }} mr-2"  title="{{ p.platformName }}"></i>
                            {% if p.platformSlug == "ios" %}
                                {{ p.platformName }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="list-group-item">
                        {% for media in medias %}
                            <a href="{{ media.preAddress ~ media.address }}">
                                <i class="{{ media.icon }} mr-2 fa-lg" title="{{ media.name }}"></i>
                            </a>
                        {% else %}
                            {% trans %}No link social media{% endtrans %}
                        {% endfor %}
                    </div>
                </div>

                <div class="card mt-2 border-primary">
                    <div class="card-header text-center">
                        {% trans %}Last comments{% endtrans %}
                    </div>

                    {% for comment in lastComments %}
                        <div class="list-group-item">
                            {% set author = comment.author %}
                            <small class="text-muted">{% trans %}{{ author }} on{% endtrans %} 
                                {% if comment.featureId != 0 %}
                                    <a href="{{ path("blog.feature.showOneFeature", {slug:comment.featureSlug, id:comment.featureId}) }}">
                                        {{ comment.featureName }} {% trans "(brick)" %}
                                    </a>
                                {% elseif comment.bugId != 0 %}
                                    <a href="{{ path("bug", {id:comment.bugId}) }}">{{ comment.bugTitle }} {% trans "(bug)" %}</a>
                                {% elseif comment.newsId != 0 %}
                                    <a href="{{ path("news.show", {id:comment.newsId}) }}">{{ comment.newsTitle }} {% trans "(news)" %}</a>
                                {% else %}
                                    {{ game.name }}
                                {% endif %}
                                - {{ comment.createdAt | ago }}</small><br>
                                {{ comment.content | excerpt }}

                        </div>
                    {% else %}
                        <div class="list-group-item">
                            {% trans %}No comment yet.{% endtrans %}
                        </div>
                    {% endfor %}

                </div>
            </div>

            <!--main-->
            <div class="card col-md-6 shadow">
                <div class="card-header">
                    <h1 class="text-center">{{ game.name }}</h1>
                    {% if game.author %}
                        {% set author = game.author %}
                        {% if game.userId %}
                            <h3 class="text-center">{% trans "by" %} <a class="text-info" href="{{ path('profile', {id: game.userId}) }}">{{ game.author }}</a></h3>
                            {% else %}
                            <h3 class="text-center">{% trans %}by {{ author }}{% endtrans %}</h3>
                        {% endif %}
                    {% endif %}
                </div>

                <p class="text-center"> 
                    {% if game.image %}
                        <img class="card-img-top" src="{{ game.illustration }}" alt="{{ game.name }}" style="max-width:80%;" >
                    {% endif %}
                </p>
                <div class="card-body">
                    <p>
                        {{ game.content| raw  | nl2br }}
                    </p>
                </div>

            </div>

            <!--right menu-->
            <div class="col-md-3" >
                <div class="card mt-2 border-primary">
                    <div class="card-header text-center">
                        {% trans %}Total financing{% endtrans %}
                    </div>
                    <div class="list-group-item">
                        <strong>{% trans %}Monthly subscriptions:{% endtrans %}</strong> {{ subscriptions | number_format(2, ',', '.') }}€<br>
                        <small>
                            {% trans %}
                                with {{ countSubscriber }} subscriber
                                {% plural countSubscriber %}
                                with {{ countSubscriber }} subscribers
                            {% endtrans %}
                        </small>
                    </div>
                    <div class="list-group-item">
                        <strong>{% trans %}Money raised on the bricks:{% endtrans %}</strong> {{ moneyRaised | number_format(2, ',', ' ') }}€<br>
                        <small>
                            {% trans %}
                                with {{ countContributor }} contributor
                                {% plural countContributor %}
                                with {{ countContributor }} contributors
                            {% endtrans %}
                        </small>
                    </div>
                    <div class="list-group-item">
                        <strong>{% trans %}Money pending on the bricks:{% endtrans %}</strong> {{ moneyRaisedPending | number_format(2, ',', ' ') }}€<br>
                        <small>
                            {% trans %}
                                with {{ countContributorPending }} contributor
                                {% plural countContributorPending %}
                                with {{ countContributorPending }} contributors
                            {% endtrans %}
                        </small>
                    </div>
                </div>

                {% if stripeUserId %}
                    {% include "@shop/rewards/list.twig" %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
