<div class="row">
    {% for prefix in prefixSocialMedia %}
        <div class="col-12">
            <label class="form-check-label text-primary mb-1" for="{{ prefix.media }}" >{{ prefix.media }} : </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        {{ prefix.address }}
                    </div>
                </div>
                <input type="text" class="form-control" id="{{ prefix.media }}" name="media[{{ prefix.id }}]" 
                       value="{% for media in medias if (media.mediaId == prefix.id)%}{{ media.address }}{% endfor %}">
            </div>
        </div>
    {% endfor %}
</div>
