{{ username | raw }},
thank you for your comment on RedBricks.

We propose us to active this account to protect your information and to
can to have access to all the website.

To activate your account, simply click on the following link:

https://redbricks.games/authentication?log={{ username | raw }}&key={{ activation_key | raw }}

Your temporary password is : {{ password | raw }}. We advise you to change it quickly.

(Some email client users may need to copy and paste the link into your web
browser).

----

The RedBricks Team