{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit tags
    {% endtrans %}
{% endblock %}

{% block body %}
    {% set name = games.name %}
    <h2>{% trans %}Manage the tags of {{ name }}{% endtrans %}</h2>
    <p class= "float-left">
        <a href="{{ path('blog.user.features', {id: games.id}) }}" class="btn btn-primary">
            {% trans %}Back{% endtrans %}
        </a>
    </p>
    <p class= "text-right">
        <a href="{{ path('blog.user.features.tags' ~ '.create',  {projectId:games.id}) }}" class="btn btn-primary">
            {% trans %}Add a tag{% endtrans %}
        </a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "English name" %}</td>
                <td>{% trans "French name" %}</td>
                <td>{% trans "Spanish name" %}</td>
                <td>{% trans "Color" %}</td>
                <td>{% trans "Action" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for tag in tags %}
            <form action="{{ path('blog.user.features.tags' ~ '.edit', {projectId:games.id, id:tag.id}) }}" method="POST">
                {{ csrf_input() }}
                <tr>
                    <td>
                        {{ field("name_en", tag.nameEn) }}
                    </td>
                    <td>
                        {{ field("name_fr", tag.nameFr) }}
                    </td>
                    <td>
                        {{ field("name_es", tag.nameEs) }}
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" name="color">
                                {% for i in 1..4 %}
                                    <option class="{{ "color-tag" ~ i }}" {% if i == tag.color %}selected{% endif %} value="{{ i }}">
                                        {% trans %}Color {{ i }}{% endtrans %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="{% trans "Edit" %}" class="btn btn-primary">
                    </td>
                </tr>
            </form>
        {% endfor %}
    {% endblock %}
