{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Add a brick
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1>{% trans %}Add a brick{% endtrans %}</h1>
    <form action= "{{ path('blog.user.features.feature' ~ '.create',  {projectId:item.projectId, slug:'null'}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {% include viewPath ~ "/form.twig" with {'creation': 'yes'}%}
        <input type="hidden" id="projectId" name="projectId" value="{{item.projectId}}">
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>
        {% if current_user().id == item.userProject %}
            <div class="text-danger">{% trans %}WARNING : If you create a new brick with a status other than "awaiting moderation", you can't delete it.{% endtrans %}</div>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
        {% if current_user().id == item.userProject or current_user().role == "admin" %}
            <a class="btn btn-primary ml-3" href="{{ path(routePrefix, {id: item.projectId}) }}">{% trans "Back" %}</a>
        {% else %}
            <a class="btn btn-primary ml-3" href="{{ path('blog.show.bricks', {slug:item.projectSlug, id:item.projectId}) }}">{% trans "Back" %}</a>
        {% endif %}
    </form>

{% endblock %}