{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit a brick
    {% endtrans %}
{% endblock %}

{% block body %}

    {% set name = item.name %}
    <h2>{% trans %}Edit the brick {{ name }}{% endtrans %}</h2>
    <form action= "{{ path(routePrefix ~ '.feature.edit', {projectId: item.projectId, id: item.id}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {% include viewPath ~ "/form.twig" %}
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>
        {% if current_user().id == item.userProject %}
            <div class="text-danger">{% trans %}WARNING : If the status is not "awaiting moderation", you can't delete the brick. 
                You can't change the status to a previous one.{% endtrans %}</div>
            {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        {% if current_user().id == item.userProject or current_user().role == "admin" or item.statusId == 1%}
            <a class="btn btn-primary ml-3" href="{{ path(routePrefix, {id: item.projectId}) }}">{% trans "Back" %}</a>
        {% else %}
            <a class="btn btn-primary ml-3" href="{{ path('blog.feature.showOneFeature', {slug:item.slug, id:item.id}) }}">{% trans "Back" %}</a>
        {% endif %}
    </form>

{% endblock %}

