{{ csrf_input() }}
<div class= "row">
    <div class= "col-md-4">
        {% set name %}{% trans %}Name of the game{% endtrans %}{% endset %}
        {{  field("name", item.name, name ~ '<span class="text-danger">*</span>' ) }}

        <div class="form-group">
            <label for="status">{% trans %}State of development{% endtrans %}</label>
            <select class="form-control" id="status" name="status_id">
                {% for status in statusList %}
                    <option value="{{ status.id }}" {% if status.id == item.statusId %}selected="selected"{% endif %}>
                        {{ status.name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class= "form-group" >
            {% include "@blog" ~ "/licencesBlock.twig" %}
        </div>

        <div class= "form-group" >
            <div>{% trans "Platforms" %}<span class="text-danger">*</span></div>
            <div style="padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
                {% include "@blog" ~ "/platformsBlock.twig" %}
            </div>
        </div>	

        <div class="form-group">
            <div>{% trans "Social media" %}</div>
            <div style="padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
                {% include "@blog" ~ "/socialMediaBlock.twig" %}
            </div>
        </div>


    </div>	

    <div class= "col-md-8">

        <div class="row">
            <div class="col-md-4">
                <div style="margin: .5rem 0;padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">   
                    {% set fee %}{% trans %}RedBricks' fee (in percent){% endtrans %}{% endset %}
                    {{ field("fee", item.fee, fee, {type:'number', step:'0.1', min:0, max:'100'}) }}
                </div>
            </div>

            <div class="col-md-8">
                <div  style="margin: .5rem 0;padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
                    {% trans %}Created at:{% endtrans %} {{ item.createdAt | date("j F Y - H:i:s") }}
                </div>
            </div>
        </div>

        {% set image %}{% trans %}Image{% endtrans %}{% endset %}
        {% set comment %}{% trans %}1Mo max - accepted format: jpg, png, gif, bmp - format 16:9{% endtrans %}{% endset %}
        {% if item.image %}
            {{ field("image", item.thumb, image ~ '<span class="text-danger">*</span>', {type:"file"}, comment) }}
        {% else %}
            {{ field("image", null, image ~ '<span class="text-danger">*</span>', {type:"file"}, comment) }}
        {% endif %}	


        <div class= "form-group" >
            <label for="tinyContent">{% trans "Descriptif" %}<span class="text-danger">*</span> {% trans %}(in english, you can translate it after){% endtrans %}</label>
            <textarea class="form-control" name="content" id="tinyContent" style="height: 30rem;">{{item.content}}</textarea>
        </div>
    </div>

</div>











