<div class="row">
    <div class="col-md-6">
        {% if feature %}
            {% set name %}
                {% trans %}
                    Name
                {% endtrans %}
            {% endset %}
            {{ field("name", item.name, name) }}
        {% else %}
            {% set title %}
                {% trans %}
                    Title
                {% endtrans %}
            {% endset %}
            {{ field("title", item.title, title, {disabled:'disabled'}) }}
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="language">{% trans "Language" %}</label>
            <select class="form-control" id="language" name="langcode" {% if item.langcode %}disabled{% endif %}>
                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == item.langcode %}selected{% endif %}>
                        {{ language.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% if item.langcode %}
        <input type="hidden" name="langcode" value="{{ item.langcode }}">
    {% endif %}
</div>
<div class="row">
    <div class="form-group col-12" >
        <label for="tinyContent">{% trans "Translation" %}</label>
        <textarea class="form-control" name="content" id="tinyContent" style="height: 30rem;">{{item.content}}</textarea>
    </div>
</div>
